@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;

@tailwind utilities;

@layer components {
  p,
  span {
    @apply font-primary;
  }
  h1 {
    @apply font-secondary;
    font-size: 32px;
  }
  h2 {
    @apply font-secondary;
    font-size: 28px;
  }
  h3 {
    @apply font-secondary;
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
    @apply font-secondary;
  }
  h5 {
    @apply font-secondary;
    font-size: 16px;
  }
  h6 {
    @apply font-secondary;
    font-size: 12px;
  }

  /* !HERO SEC  */
  .parallax__cont {
    @apply h-screen w-screen overflow-y-auto overflow-x-hidden scrollbar-none snap-y snap-mandatory;
    perspective: 10px;
  }
  .hero__sec {
    @apply snap-center -z-20 h-screen w-full items-center bg-bgm md:bg-bg bg-bottom sm:bg-left-top bg-cover;
    transform-style: preserve-3d;
    transform: translateZ(-5px) scale(1.5);
    /* z-index: -1; */
  }
  /* !NOTES SECTION  */
  .notes__sec {
    @apply snap-center h-screen w-screen relative z-10 grid grid-cols-1 sm:grid-cols-2 auto-rows-max md:grid-cols-3 lg:grid-cols-4 p-4 gap-4 pb-4 bg-white pt-16 overflow-y-auto scrollbar-none;
  }
  .search__bar {
    @apply col-span-1 w-full z-30 sm:col-span-2 md:col-span-3 lg:col-span-4 flex sm:flex-row flex-col gap-4 justify-between items-center sticky top-0  max-h-10;
  }
  .search__bar > input {
    @apply shadow-md outline-none w-full h-10 p-4 font-semibold;
  }
  select {
    @apply block w-56 p-2 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-black focus:border-black;
  }
  .sidebar-cont {
    @apply bg-white border border-border_color p-4 rounded-md grid grid-rows-2 md:grid-rows-subgrid grid-flow-col auto-cols-[100%] sm:auto-cols-[50%] md:auto-cols-[100%] auto-rows-min gap-4 overflow-auto md:grid-cols-1 md:grid-flow-row h-full;
  }
  .custom_scrollbar {
    @apply scrollbar-thin scrollbar-track-transparent scrollbar-thumb-border_color;
  }
}
